<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- JSON.stringify(post, null, 2) %>
    <p>Post:</p>
    <p>
        Title: <%= post.title %>
    </p>
    <% for(let i=0;i<post.images.length;i++) {%>
        <div>Image: <%= i %></div>
        <img src="//res.cloudinary.com/imoko/image/upload/<%= post.images[i].slug %>">
        <div>Description: <%= post.images[i].description %></div>
        <hr>
    <% } %>

    <h5>Add an image:</h5>
    <form action="/a/<%= post.slug %>/addImageToPost" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="image">
        <button type="submit">upload</button>
    </form>
</body>
</html>